@{
    ViewData["Title"] = "Kateqoriya redaktə";
}
@model Category

<div class="pagetitle my-3">
    <h1>Kateqoriya redaktə</h1>

</div><!-- End Page Title -->

<section class="section">
    <div class="row">

        <div class="card">
            <div class="card-body">

                <!-- General Form Elements -->
                <form method="post">
                    <div class="row my-3">
                        <label asp-for="Name_AZ" class="col-sm-2 col-form-label">Əsas kateqoriya (Azərbaycan dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="Name_AZ" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <label asp-for="Name_RU" class="col-sm-2 col-form-label">Əsas kateqoriya (rus dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="Name_RU" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <label asp-for="Name_EN" class="col-sm-2 col-form-label">Əsas kateqoriya (ingilis dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="Name_EN" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <label asp-for="Subname_AZ" class="col-sm-2 col-form-label">Üst kateqoriya (Azərbaycan dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="Subname_AZ" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <label asp-for="Subname_RU" class="col-sm-2 col-form-label">Üst kateqoriya (rus dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="Subname_RU" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <label asp-for="Subname_EN" class="col-sm-2 col-form-label">Üst kateqoriya (ingilis dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="Subname_EN" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <label asp-for="SubofSubname_AZ" class="col-sm-2 col-form-label">Alt kateqoriya (Azərbaycan dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="SubofSubname_AZ" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <label asp-for="SubofSubname_RU" class="col-sm-2 col-form-label">Alt kateqoriya (rus dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="SubofSubname_RU" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div class="row my-3">
                        <label asp-for="SubofSubname_EN" class="col-sm-2 col-form-label">Alt kateqoriya (ingilis dili)</label>
                        <div class="col-sm-10">
                            <input asp-for="SubofSubname_EN" type="text" class="form-control" required>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">Yadda saxla</button>
                        <a class="btn btn-link" asp-action="Index">Geri</a>
                    </div>
                </form><!-- End General Form Elements -->

            </div>
        </div>



    </div>
</section>