@{
    ViewData["Title"] = "Yeni Məhsul";
}
@model ProductAddDto

<div class="pagetitle my-3">
    <h1>Yeni məhsul</h1>

</div><!-- End Page Title -->

<section class="section dashboard mb-5">
    <div class="row">



        <form asp-controller="Product" asp-action="CreateProduct" method="post" enctype="multipart/form-data" class="w-50">


            <div class="input-group mb-3">
                <input asp-for="Name" type="text" class="form-control" placeholder="Məhsul adı" >
            </div>

            <div class="input-group mb-3">
                <input asp-for="Code" type="text" class="form-control" placeholder="Məhsul kodu" >
            </div>

            <div class="accordion accordion-flush" id="about">
                <div class="accordion-item px-2 mb-2">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Məhsul haqqında
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#about">
                        <div class="accordion-body">
                            <div class="input-group mb-3">

                                <textarea asp-for="About_AZ" class="form-control" placeholder="Azərbaycan dilində"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <textarea asp-for="About_RU" class="form-control" placeholder="Rus dilində"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <textarea asp-for="About_EN" class="form-control" placeholder="İngilis dilində"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="accordion accordion-flush" id="country">
                <div class="accordion-item px-2 mb-2">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Istehsalçı ölkə
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#country">
                        <div class="accordion-body">
                            <div class="input-group mb-3">
                                <input asp-for="Country_AZ" type="text" class="form-control" placeholder="Azərbaycan dilində" aria-label="Username" >
                            </div>
                            <div class="input-group mb-3">
                                <input asp-for="Country_RU" type="text" class="form-control" placeholder="Rus dilində" >
                            </div><div class="input-group mb-3">
                                <input asp-for="Country_EN" type="text" class="form-control" placeholder="İngilis dilində" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="input-group mb-3">
                <input asp-for="Brend" type="text" class="form-control" placeholder="İstehsalçı şirkət" >
            </div>



            <div class="input-group mb-3">
                <input asp-for="Price" type="number" class="form-control" placeholder="Qiymət" >
            </div>


            <div class="form-group">
                <select asp-for="CategoryId" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    @foreach (var item in @ViewBag.Categories)
                    {
                        <option value="@item.Id">@item.Name_Az</option>
                    }

                </select>
            </div>
            

            <div class="input-group my-3">
                <input asp-for="ImageFile" type="file" accept="image/*" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Yüklə</label>
            </div>


            <div class="accordion accordion-flush mt-5" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse" aria-expanded="false" aria-controls="flush-collapse">
                            Digər xüsusiyyətlər
                        </button>
                    </h2>
                    <div id="flush-collapse" class="accordion-collapse collapse" aria-labelledby="flush-heading" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">

                            <p class="fs-6 text-muted">* Yalnız məhsula uyğun xüsusiyyətləri doldurun, digər xanalar boş qalsın.</p>

                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Ölçü">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Həcm, l">
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Yanacaq (qaz, maye və s.)">
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="İstilik sahəsi">
                            </div>
                            <div class="input-group mb-3">
                                <input type="Number" class="form-control" placeholder="Çəki, kq">
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Güc, kvt">
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Təzyiq">
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Diametr, mm">
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Maksimum temperatur, C">
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Dərəcə">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="mt-3">
                <button class="btn btn-primary" type="submit">Əlavə et</button>
                <a asp-action="Index" class="btn btn-link mt-3">Geri</a>
            </div>

        </form>

        
    </div>
</section>
