.footer__widget__social a{
    padding: 5px;
    color: black;
}

.footer__widget__social a:hover{
    color: rgba(0, 0, 0, 0.815);
}

.featured__item__pic__hover {
    bottom: -120px;
    background-color: white;
    opacity: 0.8;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    color: black;
}

footer a:hover{
    color: black;
    text-decoration: underline !important;
}

#btn-wp{
  position: fixed;
  bottom: 72px;
  right: 25px;
  font-size: 50px;
  z-index: 9999;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    /* position: absolute; */
    top: 100%;
    left: 0;
    z-index: 1;
    padding: 0 10px;
    /* background-color: blue; */
  }
  
  .dropdown-submenu-content {
    display: none;
    /* position: absolute; */
    top: 0;
    left: 100%;
    z-index: 1;
    padding: 0 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-submenu:hover .dropdown-submenu-content {
    display: block;
  }
  
  .dropdown-content a {
    display: block;
  }
  
  .dropdown-submenu-content a {
    display: block;
    white-space: nowrap;
  }
  
  .dropdown a:hover{
    opacity: 0.8;
  }

  
.img-desc {
  position: relative;
}

  .img-desc img {
      display: block;
      width: 100%;
  }

  .img-desc .desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff !important; /* arka plan rengini ayarlayın */
      color: rgba(0, 0, 0, 0.7) !important; /* metin rengini ayarlayın */
      text-align: center;
      padding: 10px; /* kenar boşluğunu ayarlayın */
      box-sizing: border-box;
      opacity: 0; /* varsayılan olarak gizlenir */
      transition: opacity 0.2s ease-in-out; /* animasyonu ekleyin */
  }

  .img-desc:hover .desc {
      opacity: 0.8;
  }

.pagination {
  justify-content: center;
}


.page-link {
  border-color: #0a5092;
  background-color: white;
  color: #0a5092;
}

  .page-link:hover {
      background-color: #0a5092;
      color: white;
  }

.activ {
  background-color: #0a5092;
  color: white;
}